<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Loja Virtual</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="text-bg-dark p-3">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Loja Virtual</h1>
                <div class="nav">
                    <a class="nav-link text-white" href="/">Home</a>
                    <a class="nav-link text-white" href="/produtos">Produtos</a>
                    <a class="nav-link text-white" href="/clientes">Clientes</a>
                    <a class="nav-link text-white" href="/formas_pagamento">Formas de Pagamento</a>
                </div>
            </div>
        </div>
    </header>
    <main class="container my-3">
        {% block conteudo %}
        {% endblock %}        
    </main>
    <footer class="text-bg-dark p-3 text-center mt-auto">
        <p class="m-0">Copyright &copy; 2025 Loja Virtual</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>