{% extends "base.html" %}
{% block conteudo %}
<div class="card">
    <div class="card-body">
        <h2>Cadastro de Produto</h2>
        <hr>
        <form action="/admin/produtos/cadastrar" method="post">
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="nome"
                    name="nome"
                    placeholder="Nome do Produto"
                    required
                >
                <label for="nome">Nome do Produto</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="descricao"
                    name="descricao"
                    placeholder="Descrição do Produto"
                    required
                >
                <label for="descricao">Descrição do Produto</label>
            </div>
              <div class="form-floating mb-3">
                <input
                    type="number"
                    class="form-control"
                    id="preco"
                    name="preco"
                    placeholder="Preço do Produto"
                    required
                >
                <label for="preco">Preço do Produto</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="number"
                    class="form-control"
                    id="quantidade"
                    name="quantidade"
                    placeholder="Quantidade em Estoque"
                    required
                >
                <label for="quantidade">Quantidade em Estoque</label>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
        </form>
    </div>
</div>
{% endblock %}
