{% extends "base.html" %}
{% block conteudo %}
<div class="">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img class="img-thumbnail" src="https://picsum.photos/600/600?random={{produto.id}}" alt="Title">
                    </div>
                    <div class="col-8">
                        <h2 class="card-title">{{produto.nome}}</h2>
                        <p class="card-text lead">
                            {{produto.descricao}}
                        </p>
                        <p class="card-text text-danger fs-3">
                            R$ {{produto.preco}}
                        </p>
                        <p class="card-text text-secondary">
                            Restam apenas {{produto.quantidade}} unidades em estoque!
                        </p>
                        <p>
                            <a href="" class="btn btn-lg btn-danger">Adicionar ao Carrinho</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer p-2">
                <a class="btn btn-secondary w-100" href="/">Voltar para Página Principal</a>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}
